$main_color : rgba(0, 21, 79, 255);
// $main_font_color : 
$main_logo_color: rgba(255, 180, 18, 255);

// $icon_button_color: rgba(115, 127, 158, 255);
$icon_button_color: rgb(79, 84, 92);

$main_background_color: #323338;