<div class="group_container">
    <section class="group_count">
        <span>Participant ( {{currentMembersCount}} )</span>
    </section>
    <ul>
        @for(member of currentMembers; track member) {
        <li class="group_list">
            <article class="member_info">
                <span class="name" [ngClass]="member.online ? 'active': ''">{{member.member_id.name}}</span>
                <span class="role" [ngClass]="member.role == 'Participant' ? 'active_role': ''">{{member.role}}</span>
            </article>

            <article>
                <button [matMenuTriggerFor]="memberMenu" mat-icon-button><mat-icon>more_vert</mat-icon></button>
                <mat-menu #memberMenu="matMenu">
                    <section class="menu_button_section">
                        <button mat-button>
                            Presenter
                        </button>
                        <button mat-button>
                            Participant
                        </button>
                    </section>
                </mat-menu>
            </article>
        </li>
        }
    </ul>
</div>