@import '../../setting.scss';

.group_container {
    color: white;
    font-size: 11pt;

    ul {
        padding: 0;
        margin: 0;
    }


    .group_count {
        font-size: 10pt;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-bottom: 5px;
        margin-top: 4px;
        margin-left: 10px;

        padding-bottom: 5px;

        border-bottom: 1px solid rgba(48, 51, 56, 255);

        .my_icon {
            color: rgba(114, 118, 125, 255);
        }
    }

    .group_list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .member_info {
            padding-left: 10px;
            display: flex;
            gap: 0.5rem;
            align-items: center;

            color: $icon_button_color;

            .name {
                font-weight: bold;
            }

            .active {
                color: $main_logo_color;
            }

            .role {
                font-size: 8pt;
                border: 1px solid $icon_button_color;
                display: block;
                height: 100%;
                box-sizing: border-box;
                padding: 0.4rem;
                border-radius: 0.4rem;
                color: $icon_button_color;
            }

            .active_role {
                background-color: $icon_button_color;
                color: white;
            }
        }
    }
}