<div class="present_container">
    <section class="present_menu_section">
        <button mat-icon-button>
            <mat-icon>draw</mat-icon>
        </button>
        <button mat-icon-button>
            <i class="fa-solid fa-highlighter"></i>
        </button>
        <button mat-icon-button>
            <i class="fa-solid fa-eraser"></i>
        </button>
        <button mat-icon-button>
            <mat-icon>shape_line</mat-icon>
        </button>
    </section>
    <section class="present_section">
        여기 비디오
    </section>
</div>