<div class="present_container">
    <div class="present_section_container">
        <section id="present" class="present_section">
            @if(!videoStream?.stream){
            <div class="present_profile_video_container">
                @if(videoStream?.profile) {
                <img class="profile_img" [src]="videoStream?.profile" alt="">
                }@else {
                <mat-icon>account_circle</mat-icon>
                }

            </div>
            }


            <!-- 비디오 -->
            <video id="present_video" [class]="videoStream?.id" #present_video (resize)="videoResize($event.target)"
                class="present_video" [srcObject]="videoStream?.stream" autoplay playsInline muted></video>


            <!-- 메뉴 -->
            <article class="menu_container" [class]="videoStream?.user_id+'menu'"
                [ngClass]="tool.type === 'click' ? 'main':''">

                @if(videoStream?.stream) {
                <button mat-icon-button class="video_menu" [matMenuTriggerFor]="videoMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #videoMenu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="capture(present_video)">
                        <mat-icon>screenshot_monitor</mat-icon>
                        <span>screenshot</span>
                    </button>
                </mat-menu>
                }

                @if(videoStream?.name){
                <div class="video_user_name">
                    {{videoStream?.name}}
                </div>
                }

            </article>





        </section>
    </div>



</div>