@import '../../setting.scss';

.present_container {
    display: flex;
    height: 100%;
    gap: 0.5rem;

    .present_menu_section {
        background-color: white;
        border-radius: 0.5rem;
        width: 40px;
        display: flex;
        flex-direction: column;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5rem;
            width: 40px;
            height: 40px;

            color: $main_color;

            &>*[role=img] {
                width: 16px;
                height: 16px;
                font-size: 16px;
            }

            .mat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                font-size: 14pt;
            }
        }
    }

    .present_section {
        flex: 1;
        background-color: white;
        border-radius: 0.5rem;
    }
}