<div class="chat_container">
    <section class="chat_header">
        <i class="fa-solid fa-message my_icon"></i>
        <span>Chat</span>
    </section>
    <section class="chat_section">
        <section class="chat_scroll_section" #target>
            <!-- @for(item of chat_info; track item;let idx1 = $index) {
            <div class="chat">
                <section class="name_section">
                    <span class="name">
                        {{item.chatMember}}
                        @if(item.userId == user_id){
                        <div class="dot"></div>
                        }
                    </span>


                    <span class="time">
                        {{item.createdAt | date:'yyyy-MM-dd hh:mm a'}}
                    </span>
                </section>
                <section class="content_section">
                    <article>
                        {{item.chatContent}}
                    </article>
                </section>
                <section class="content_image">
                    @for(image of item.images; track image ; let idx2 = $index) {
                    <div class="content_images_div " #imageElement>
                        <img class="chat_image" [id]="'img-' + idx1 + '-' + idx2" [src]="image.blob " width="160"
                            alt="Image">

                    </div>
                    }
                </section>
            </div>
            } -->
        </section>

    </section>
    <form class="input_section" (ngSubmit)="submitChat()">
        <div class="image_section">
            <!-- 이미지 영역 -->
        </div>
        <div class="textarea_section">
            <mat-icon (click)="openScreenCaptureDialog()"
                fontSet="material-symbols-outlined">screenshot_region</mat-icon>
            <textarea #myTextarea (ngModelChange)="handleResizeHeight(myTextarea)" style="outline: none;"
                [(ngModel)]="chatContent" type="text" [ngModelOptions]="{standalone: true}" rows="1"></textarea>
            <button type="submit"><mat-icon fontSet="material-symbols-outlined">send</mat-icon></button>
        </div>

    </form>
</div>