.whiteboard_container {

    display: flex;
    gap: 0.5rem;
    height: 100%;

    .whiteboard_menu_section {
        background-color: white;
        width: 40px;
        border-radius: 0.5rem;
    }

    .whiteboard_section {
        flex: 1;
        background-color: white;

        border-radius: 0.5rem;
    }
}