<div class="audience_container">
    <div [style]="toggleService.toggle_audience() ? '' : 'visibility: hidden;'">
        @for(stream of videoList; track stream){
        <app-audience-video [socket_id]="stream.socket_id" [stream]="stream.stream" [name]="stream.name"
            [id]="stream.id" [user_id]="stream.user_id" [screen]="stream.screen"></app-audience-video>
        }
    </div>

    <button (click)="toggleAudience()" mat-icon-button class="audience_toggle_button">
        @if(toggleService.toggle_audience()){
        <mat-icon>arrow_forward</mat-icon>
        }@else {
        <mat-icon>arrow_back</mat-icon>
        }
    </button>
</div>