<div class="video_container" [style]="stream ? '': 'width: 220px; height: 160px'">
    @if(stream){
    <!-- 비디오 -->
    <video #targetVideo (resize)="videoResize($event.target)" class="video" [class]="id" [srcObject]="stream"
        autoplay></video>


    <!-- 캔버스 정보 (판서) -->
    <article class="audience_canvas_container" [id]="user_id" [ngClass]="screen? 'screen' : 'noScreen'">
        <canvas #data_canvas id="data_canvas" class="data_canvas"></canvas>
        <canvas #target_canvas id="target_canvas" class="target_canvas"></canvas>
    </article>
    }@else {
    <!-- 스트립이 없는 경우 -->
    <div class="user_video_profile_container">
        <mat-icon>account_circle</mat-icon>
    </div>
    }




    <!-- 이름 등 정보  -->
    <article class="menu_container" [class]="user_id+'menu'">
        @if(toggle_video_whiteboard != 'document') {
        <button mat-icon-button class="video_menu" [matMenuTriggerFor]="videoMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #videoMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="goToPresent()">
                <mat-icon>co_present</mat-icon>
                <span>presenter</span>
            </button>
            <!-- <button mat-menu-item>
                    <mat-icon>screenshot_monitor</mat-icon>
                    <span>screenshot</span>
                </button> -->
        </mat-menu>
        }

        <div class="video_user_name">{{name}}</div>
    </article>
</div>