<div class="video_container">
    <!-- 비디오 -->
    <video class="video" [srcObject]="stream" height="170" autoplay></video>


    <!-- 캔버스 정보 (판서) -->
    <article>

    </article>

    <!-- 이름 등 정보  -->
    <article class="menu_container">
        <button mat-icon-button class="video_menu" [matMenuTriggerFor]="videoMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #videoMenu="matMenu" xPosition="before">
            <button mat-menu-item>
                <mat-icon>co_present</mat-icon>
                <span>presenter</span>
            </button>
            <!-- <button mat-menu-item>
                <mat-icon>screenshot_monitor</mat-icon>
                <span>screenshot</span>
            </button> -->
        </mat-menu>
        <div class="video_user_name">이름</div>
    </article>


</div>