<div class="toolbar_container">
    <section class="meeting_title_section">
        <span class="meeting_title">미팅 제목</span>
    </section>
    <section class="main_buttons_section">
        <section matRipple class="main_button_option_section">
            <button class="toggle_button">
                <i class="fa fa-caret-up"></i>
            </button>
            <button mat-icon-button class="circle_button">
                <i class="fa fa-microphone icon"></i>
            </button>
        </section>
        <section matRipple class="main_button_option_section">
            <button class="toggle_button">
                <i class="fa fa-caret-up"></i>
            </button>
            <button mat-icon-button class="circle_button">
                <i class="fa fa-solid fa-video-camera"></i>
            </button>
        </section>
        <button (click)="screen_share()" mat-icon-button class="circle_button"
            [ngClass]="toggle_screen_share ? 'active_circle_button':''">

            <mat-icon inline="true">present_to_all</mat-icon>
        </button>

        @if(toggle_video == 'video'){
        <button (click)="change_video_document('document')" mat-icon-button class="circle_button">
            <i class="fa fa-file-text"></i>
        </button>
        }@else if(toggle_video == 'document'){
        <button (click)="change_video_document('video')" mat-icon-button class="circle_button">
            <i class="fa-regular fa-file-video"></i>
        </button>
        }

        <button mat-icon-button class="circle_button call_end">
            <mat-icon inline="true">call_end</mat-icon>
        </button>
    </section>
    <section class="option_buttons_section">
        <button (click)="changeToggleMode('group')" [ngClass]="toggle_mode == 'group'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <mat-icon inline="true">group</mat-icon>
        </button>
        <button (click)="changeToggleMode('chat')" [ngClass]="toggle_mode == 'chat'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <i class="fa-regular fa-comments"></i>
        </button>
        <button (click)="changeToggleMode('survey')" [ngClass]="toggle_mode == 'survey'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <i class="fa fa-check-to-slot"></i>
        </button>
    </section>
</div>