<div class="toolbar_container">
    <section class="meeting_title_section">
        <span>미팅 제목</span>
    </section>
    <section class="main_buttons_section">
        <section>
            <button>비디오</button>
        </section>
        <section>
            <button>마이크</button>
        </section>
        <button>화면 공유</button>
        <button>문서</button>
        <button>나가기</button>
    </section>
    <section class="option_buttons_section">
        <button>참가자</button>
        <button>채팅</button>
        <button>설문</button>
    </section>
</div>