<div class="toolbar_container">
    <section class="meeting_title_section">
        <span class="meeting_title">미팅 제목</span>
    </section>
    <section class="main_buttons_section">
        <section matRipple class="main_button_option_section">
            <mat-menu #audioList="matMenu">
                @for(audio of audio_list; track audio) {
                <button (click)="selectAudio(audio.deviceId)" class="mat_item_button"
                    [ngClass]="audio.deviceId == now_audio ? 'active_mat_item_button' : ''" mat-menu-item>
                    {{audio.label}}
                </button>
                }
            </mat-menu>
            <button class="toggle_button" [matMenuTriggerFor]="audioList" #audio_t="matMenuTrigger">
                @if(audio_t.menuOpen) {
                <p>
                    <i class="fa fa-caret-down"></i>
                </p>

                }@else{
                <p>
                    <i class="fa fa-caret-up"></i>
                </p>

                }

            </button>
            <button mat-icon-button class="circle_button">
                <i class="fa fa-microphone icon"></i>
            </button>
        </section>
        <section matRipple class="main_button_option_section">

            <mat-menu #videoList="matMenu">
                @for(video of video_list; track video) {
                <button (click)="selectVideo(video.deviceId)" class="mat_item_button"
                    [ngClass]="video.deviceId == now_video ? 'active_mat_item_button' : ''" mat-menu-item>
                    {{video.label}}
                </button>
                }
            </mat-menu>
            <button class="toggle_button" [matMenuTriggerFor]="videoList" #video_t="matMenuTrigger">
                @if(video_t.menuOpen){
                <p>
                    <i class="fa fa-caret-down"></i>
                </p>
                }@else {
                <p>
                    <i class="fa fa-caret-up"></i>
                </p>
                }

            </button>
            <button (click)="toggleVideo()" mat-icon-button class="circle_button"
                [ngClass]="toggle_video ? 'active_circle_button':''">
                <i class="fa fa-solid fa-video-camera"></i>
            </button>
        </section>
        <button (click)="screenShare()" mat-icon-button class="circle_button"
            [ngClass]="toggle_screen_share ? 'active_circle_button':''">

            <mat-icon inline="true">present_to_all</mat-icon>
        </button>

        @if(toggle_video_whiteboard == 'video'){
        <button (click)="changeVideoDocument('document')" mat-icon-button class="circle_button">
            <i class="fa fa-file-text"></i>
        </button>
        }@else if(toggle_video_whiteboard == 'document'){
        <button (click)="changeVideoDocument('video')" mat-icon-button class="circle_button">
            <i class="fa-regular fa-file-video"></i>
        </button>
        }

        <button mat-icon-button class="circle_button call_end">
            <mat-icon inline="true" style="font-size: 17pt; width: 30px;">call_end</mat-icon>
        </button>
    </section>
    <section class="option_buttons_section">
        <button (click)="changeToggleMode('group')" [ngClass]="toggle_mode == 'group'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <mat-icon inline="true">group</mat-icon>
        </button>
        <button (click)="changeToggleMode('chat')" [ngClass]="toggle_mode == 'chat'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <i class="fa-regular fa-comments"></i>
        </button>
        <button (click)="changeToggleMode('survey')" [ngClass]="toggle_mode == 'survey'? 'active_circle_button': ''"
            mat-icon-button class="circle_button">
            <i class="fa fa-check-to-slot"></i>
        </button>
    </section>
</div>