/*********************
    Sass 변수선언
*********************/
$sidebar-width: 171px;
$thumbnail-width : 150px;
// $navbar-height: 70px;
$navbar-height: 134px;

/*********************
    boddy
*********************/
.overflow-hidden {
    overflow: hidden;
}

#canvasContainer {
    // margin-left: $sidebar-width;
    position: relative;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    //div 순서대로 쌓임... (div가 absolute가 아니라 height:0으로 설정되어 쌓이는 형식)
    canvas {
        position: absolute;
        //left: 0px;   //=>left:0 , container의 margin으로 변경
        background-color: transparent;
    }

}

// .container1 {
//     position: absolute;
//     top: 70px;
//     left: 50%;
//     transform: translate(-50%, 0%);
//     // width:100%;
// }

.canvas-container {
    // border: 1px solid black;
    text-align: center;
    position: relative;
    overflow: auto;
    overflow: scroll;
    /* IE scroll 숨김 */
    -ms-overflow-style: none;
    line-height: 0;
    margin: auto;
    width: 100vw;
    max-width:100%;
    background-color: #eee;
    div.tmp {
        position: absolute;
        display: none;
    }

    div.canvasBackground {

        position: absolute;
        box-sizing: border-box;
        width: 100%;
    }


    div.canvasTeacher {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }


    div.coverRx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
   }

    div.cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    div.cursor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.canvas-container::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}

.drawing-tool {
    margin-bottom: 15px;
    text-align: center;

    button {
        margin-right: 20px;
    }

    mat-icon {
        font-size: 40px;
        margin-right: 30px;
    }

    .eraser-img {
        width: 38px;
        margin-right: 30px;
    }

    .eraser-btn {
        margin-right: 40px !important;
    }
}



@media screen and (max-width: 780px) {

    #canvas {
        // width: auto !important;
        // max-height: 500px !important;
    }

    // .canvas-container {
    //     margin: 0;
    //     width: auto !important;
    // }

    // canvas {
    //     min-height: 500px;
    //     min-width: 500px;
    // }
}