<div class="survey_container">
    <section class="survey_header">
        <mat-icon fontSet="material-symbols-outlined">how_to_vote</mat-icon>
        <span>survey</span>
    </section>
    <section class="survey_section">
        <div class="survey_absolute_container">
            @for(i of survayService.surveys(); track i) {
            <div class="survey_card" (click)="startSurvey(i._id, i.participated)">
                <article class="survey_card_top">

                    <section class="survey_title_section">
                        <div class="survey_title">{{i.title}}</div>
                        @if(user_id == i.userId) {
                        <div class="survey_buttons">
                            <button
                                (click)="editSurvey(i._id); $event.stopPropagation()"><mat-icon>edit</mat-icon></button>
                            <button
                                (click)="removeSurvey(i._id); $event.stopPropagation()"><mat-icon>delete</mat-icon></button>
                        </div>
                        }
                    </section>
                    <section class="survey_description">
                        {{i.description}}
                    </section>
                </article>
                <article class="survey_card_bottom">
                    <section class="participant">

                        <mat-icon [ngClass]="i.participated ? 'active': ''">check</mat-icon>
                    </section>
                    <section class="created_at">
                        {{i.createdAt | date}}
                    </section>
                </article>
            </div>
            }

            <div class="add_button_container">
                <button (click)="addSurvey()" mat-icon-button class="add_survey_button">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>


    </section>
</div>