<div class="survey_container">
    <section class="survey_header">
        <mat-icon fontSet="material-symbols-outlined">how_to_vote</mat-icon>
        <span>survey</span>
    </section>
    <section class="survey_section">
        <div class="survey_card">
            <article class="survey_card_top">
                <section class="survey_title">하나</section>
                <section class="survey_description">
                    하나 예제
                </section>
            </article>
            <article class="survey_card_bottom">
                <section class="participant">
                    <mat-icon>check</mat-icon>
                </section>
                <section class="created_at">
                    2024-06-03
                </section>
            </article>
        </div>
        <div class="add_button_container">
            <button (click)="addSurvey()" mat-icon-button class="add_survey_button">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </section>
</div>