<div class="survey_container">
    <section class="survey_header">
        <mat-icon fontSet="material-symbols-outlined">how_to_vote</mat-icon>
        <span>survey</span>
    </section>
    <section class="survey_section">
        <div class="survey_list">
            <article>
                <section></section>
                <section>

                </section>
            </article>
            <article>2</article>
        </div>
        <div class="add_button_container">
            <button mat-icon-button class="add_survey_button">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </section>
</div>