.app_meeting_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    gap: 0.2rem;

    .main_container {
        flex: 1;
        display: flex;
        gap: 0.2rem;

        .video_section {
            flex: 1;
            background-color: goldenrod;
        }

        .menu_section {
            width: 0px;
            overflow: hidden;

            transition: width 0.3s ease;
        }

        .active {
            width: 250px;
        }
    }
}