<div class="group_container">
    <section class="group_count">
        <i class="fa-solid fa-user my_icon"></i>
        <span>Participant ( {{currentMembersCount}} )</span>
    </section>
    <div class="group_list_container">
        <ul>
            @for(member of currentMembers; track member; let i = $index) {
            <li class="group_list">
                <article class="member_info">
                    <button class="visibility_button" (click)="checkVisibility(member)">
                        @if(!skipList.includes(member.member_id._id)){
                        <mat-icon fontSet="material-symbols-outlined">check_box</mat-icon>
                        }@else {
                        <mat-icon fontSet="material-symbols-outlined">check_box_outline_blank</mat-icon>
                        }
                    </button>
                    <span class="name" [ngClass]="member.online ? 'active': ''">{{member.member_id.name}}
                        @if(member.member_id._id == user_id){
                        <div class="dot"></div>
                        }
                    </span>



                </article>

                <article class="button_container">
                    <span class="role"
                        (click)="member.role == 'Presenter'? chooseRole('Participant', i) : chooseRole('Presenter', i)"
                        [ngClass]="member.online ? 'active_role': ''">{{member.role}}</span>
                    <!-- <button class="menu_button" [disabled]="!member.online" [matMenuTriggerFor]="memberMenu"
                        mat-icon-button><mat-icon>more_vert</mat-icon></button> -->
                    <!-- <mat-menu #memberMenu="matMenu">
                        <section class="menu_button_section">
                            <button (click)="chooseRole('Presenter', i)">
                                Presenter
                            </button>
                            <button (click)="chooseRole('Participant', i)">
                                Participant
                            </button>
                        </section>
                    </mat-menu> -->
                </article>
            </li>
            }
        </ul>
    </div>

</div>