@import '../../setting.scss';

.menu_container {
    background-color: $main_background_color;
    width: 240px;
    height: 100%;
    border-radius: 0.5rem;
    padding: 0.2rem;
    box-sizing: border-box;
}