<nav class="navbar comclass-nav animated fadeInDown">
    <div class="container-fluid">

        <ul class="nav navbar-nav main-nav">

            <li class="class-info_wrap">
                <div class="class-info">
                    <div class="class-name"></div>
                    <!-- <div class="student-info">
						<i class="material-icons">
							facew
						</i>
						<span>&nbsp;5</span>
					</div> -->

                    <!-- <div class="student-numbers"{{vm.numStudents}}</div> -->
                </div>
            </li>

            <li class="drawing-config">
                <div class="color-set animated">
                    <div *ngFor="let item of colorList; let i = index" (click)="changeColor(item.color)">
                        <i [ngClass]="(currentColor == item.color) ? 'fa fa-check-circle':'fa fa-circle'"
                            [style.color]="item.color"></i>
                    </div>
                </div>
                <div class="width-set">
                    <!----------------------------
                         Width 선택 부분 (현재 3종)
                    ----------------------------- -->
                    <div *ngFor="let item of widthSet[currentTool]; let i = index" (click)="changeWidth(item);">
                        <i class="far"
                            [ngClass]="(currentWidth[currentTool]==item)?'fa fa-check-circle':'fa fa-circle'">
                        </i>
                    </div>
                </div>
            </li>


            <li class="tool-items">
                <div class="tool-set">

                    <!-- <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' " (click)="changeTool('pointer');" mat-icon-button>
                            <mat-icon [ngClass]="(currentTool == 'pointer') && (mode == 'draw')?'active':''">
                                radio_button_checked
                            </mat-icon>
                        </button>
                    </div> -->

                    <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' "
                            (click)="changeTool('pen');" mat-icon-button>
                            <mat-icon [ngClass]="(currentTool == 'pen') && (mode == 'draw')?'active':''">draw</mat-icon>
                        </button>
                    </div>

                    <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' "
                            (click)="changeTool('highlighter');" mat-icon-button>
                            <ic-icon [icon]="markerIcon" [width]="30" [height]="30"
                                [ngClass]="(currentTool == 'highlighter') && (mode == 'draw')?'active':''"></ic-icon>
                            <span class="iconify" data-icon="mdi:marker"></span>
                        </button>
                    </div>

                    <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' "
                            (click)="changeTool('eraser');" mat-icon-button>
                            <!-- <mat-icon [ngClass]="(currentTool == 'eraser') && (mode == 'draw')?'active':''">crop_square
                            </mat-icon> -->
                            <ic-icon [icon]="eraserIcon" [width]="40" [height]="40"
                                [ngClass]="(currentTool == 'eraser') && (mode == 'draw')?'active':''"></ic-icon>
                        </button>
                    </div>

                    <!-- <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' "
                            (click)="changeTool('textarea');" mat-icon-button>
                            <mat-icon
                                [ngClass]="(currentTool == 'textarea' || currentTool == 'text') && (mode == 'draw')?'active':''">title</mat-icon>
                        </button>
                    </div> -->


                    <div>
                        <button type="button" (click)="changeMode('move');" mat-icon-button>
                            <mat-icon [ngClass]="(mode == 'move')?'active':''"> open_with </mat-icon>
                        </button>
                    </div>


                    <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' "
                            (click)="changeTool('line');" mat-icon-button mat-button [matMenuTriggerFor]="shapeMemu">
                            <!-- <mat-icon
                            [ngClass]="(currentTool == 'line' || currentTool == 'circle'  ||currentTool == 'rectangle' || currentTool == 'roundedRectangle' ) && (mode == 'draw')?'active':''">
                            star_border_purple500 </mat-icon> -->
                            <!-- interests -->
                            <ic-icon [icon]="shapeOutlineIcon" [width]="40" [height]="40"
                                [ngClass]="(currentTool == 'line' || currentTool == 'circle'  ||currentTool == 'rectangle' || currentTool == 'roundedRectangle' ) && (mode == 'draw')?'active':''"></ic-icon>
                        </button>
                    </div>

                    <mat-menu #shapeMemu="matMenu" class="menuCustomize">
                        <div fxFlex fxLayout="row">

                            <div (click)="changeTool('line');">
                                <button mat-menu-item
                                    [ngClass]="(currentTool == 'line') && (mode == 'draw')?'active':''">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                            <div (click)="changeTool('circle');">
                                <button mat-menu-item
                                    [ngClass]="(currentTool == 'circle') && (mode == 'draw')?'active':''">
                                    <mat-icon>panorama_fish_eye</mat-icon>
                                </button>
                            </div>
                            <div (click)="changeTool('rectangle');">
                                <button mat-menu-item
                                    [ngClass]="(currentTool == 'rectangle') && (mode == 'draw')?'active':''">
                                    <mat-icon>crop_din</mat-icon>
                                </button>
                            </div>
                        </div>

                        <!-- 버그 수정중 -->
                        <!-- <button type="button" (click)="changeTool('roundedRectangle');" mat-icon-button>
                            <mat-icon [ngClass]="(currentTool == 'roundedRectangle') && (mode == 'draw')?'active':''">
                                crop_3_2
                            </mat-icon>
                        </button> -->
                    </mat-menu>


                    <div [ngClass]="myRole == 'Participant' ? 'wrap': '' ">
                        <button type="button" [ngClass]="myRole == 'Participant' ? 'participant': '' " mat-icon-button
                            mat-button [matMenuTriggerFor]="shapeMemu1">
                            <!-- <mat-icon
                            [ngClass]="(currentTool == 'line' || currentTool == 'circle'  ||currentTool == 'rectangle' || currentTool == 'roundedRectangle' ) && (mode == 'draw')?'active':''">
                            star_border_purple500 </mat-icon> -->
                            <!-- interests -->
                            <ic-icon [icon]="shapeOutlineIcon" [width]="40" [height]="40"
                                [ngClass]="(currentTool == 'line' || currentTool == 'circle'  ||currentTool == 'rectangle' || currentTool == 'roundedRectangle' ) && (mode == 'draw')?'active':''"></ic-icon>
                        </button>
                    </div>


                    <!-- 사용자별 판서모드 진행중.. -->
                    <mat-menu #shapeMemu1="matMenu">
                        <div fxFlex fxLayout="column" (click)="$event.stopPropagation();">
                            <div (click)="changeSeletedViewMode();">
                                <mat-checkbox [(ngModel)]="isChecked" color="primary">
                                    ALL
                                </mat-checkbox>

                            </div>
                            <div *ngFor="let member of members">
                                <mat-checkbox [(ngModel)]="member.isSelected"
                                    (ngModelChange)="updateSeletedUser(member._id)">
                                    {{member.name}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </mat-menu>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!-- <li class="exit-item">
        <div class="nav_menu comclass-exit">

          <i class="material-icons">
            exit_to_app
          </i>
        </div>
      </li> -->
        </ul>
    </div>
</nav>