#dialog_content {
    position: relative;
}

.captured_dialog_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;

    h3 {
        margin: 0px;
    }

    .mat-icon {
        cursor: pointer;
    }
}