<div [ngClass]="{ whiteBoardMode1: whiteBoardMode1 === true }">
  <div class="nav" fxFlex fxLayout="row">
    <ul class="menu-items">
      <li>
        <!-- whiteBoard / video call -->
        <button
          *ngIf="whiteBoardIcon == 'border_color'"
          #whiteBoardMode
          class="btn"
          mat-icon-button
          (click)="whiteBoardClick()"
        >
          <mat-icon>{{ whiteBoardIcon }}</mat-icon>
        </button>
        <button
          *ngIf="whiteBoardIcon == 'desktop_mac'"
          #whiteBoardMode
          class="btn"
          mat-icon-button
          (click)="whiteBoardClick()"
        >
          <mat-icon>{{ whiteBoardIcon }}</mat-icon>
        </button>
      </li>
      <li class="shareBtn" [ngClass]="myRole == 'Participant' ? 'wrap' : ''">
        <!-- sharing video -->
        <button
          [ngClass]="myRole == 'Participant' ? 'participant' : ''"
          #sharingBtn
          class="btn"
          mat-icon-button
          (click)="handleSharingClick()"
        >
          <mat-icon>{{ shareIcon }}</mat-icon>
        </button>
        <!-- <mat-icon>videocam_off</mat-icon> -->
      </li>
      <li class="shareBtn2" [ngClass]="myRole == 'Participant' ? 'wrap' : ''">
        <!-- sharing video -->
        <button
          [ngClass]="myRole == 'Participant' ? 'participant' : ''"
          #sharingBtn
          class="btn"
          mat-icon-button
          (click)="handleSharingClick()"
        >
          <mat-icon>{{ shareIcon }}</mat-icon>
        </button>
        <!-- <mat-icon>videocam_off</mat-icon> -->
      </li>
    </ul>
  </div>
</div>
