@import "../../../../setting.scss";

.survey_container {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 2rem;

	font-size: 11pt;

	.line {
		background-color: $main_color;
		height: 0.6rem;
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
	}

	.title_section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.title {
			font-size: 24pt;
			margin: 0;
		}

		.description {
			margin: 0;
		}
	}

	.input_container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		.input_section {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			.card_title {
				display: flex;
				gap: 0.2rem;

				.red_dot {
					color: red;
				}
			}
		}

		.button_section {
			display: flex;
			justify-content: end;
			gap: 0.5rem;
			padding: 0.5rem;

			.submit_button {
				background-color: $main_color;
				color: white;
			}
		}
	}
}

::ng-deep html {
	--mdc-checkbox-selected-icon-color: rgb(255, 180, 18) !important;
	--mdc-checkbox-selected-focus-icon-color: rgb(255, 180, 18);
	--mdc-checkbox-selected-hover-icon-color: rgb(255, 180, 18);
	--mdc-checkbox-selected-icon-color: rgb(255, 180, 18);
	--mdc-checkbox-selected-pressed-icon-color: rgb(255, 180, 18);

	--mdc-checkbox-selected-focus-state-layer-color: rgb(255, 180, 18);
	--mdc-checkbox-selected-hover-state-layer-color: rgb(255, 180, 18);
	--mdc-checkbox-selected-pressed-state-layer-color: rgb(255, 180, 18);
}
