<div class="app_meeting_container">

    <!-- 메인 기능들이 들어갈 부분 -->
    <div class="main_container">
        <!-- 판서, 영상 통화 등 -->
        <section class="video_section">

            <!-- 비디오 모드인 경우 -->
            <div class="video_container" [style]="toggle_video_whiteboard == 'video' ? '' : 'visibility: hidden'">
                <section id="present_section" class="present_section">
                    <app-present></app-present>
                </section>
                @if(audience_video.length != 0){
                <section class="audience_section">
                    <app-audience></app-audience>
                </section>
                }
            </div>

            <!-- 판서 모드인 경우 -->
            <div class="document_container" [style]="toggle_video_whiteboard == 'document' ? '' : 'visibility: hidden'">
                <section class="document_list_section">
                    <app-documents></app-documents>
                </section>
                <section class="document_section">
                    <div class="whiteboard_container">
                        <section class="whiteboard_section">
                            <app-whiteboard></app-whiteboard>
                        </section>
                        <section class="audience_section">
                            <app-audience></app-audience>
                        </section>
                    </div>
                </section>
            </div>




        </section>
        <!-- 메뉴 -->
        <section class="menu_section" [ngClass]="toggle_mode != 'close'? 'active' : ''">
            <app-menu></app-menu>
        </section>
    </div>
    <!-- 툴바 부분 -->
    <section class="toolbar_section">
        <app-toolbar></app-toolbar>
    </section>
    <section class="audio_section" id="audio_section">
        @for(stream of audioStreams; track stream) {
        <app-audio [id]="stream.id" [stream]="stream.stream" [socket_id]="stream.socket_id"></app-audio>
        }
    </section>
</div>