<div class="fabs-container">
	<!------------------------------------------
		Floating Fab buttons
		- zoom
	------------------------------------------ -->
	<div class="floating-fabs-container">
		<button mat-icon-button class="md-fab md-raised md-mini" style="margin-top:20px;"
			(click)="clickZoom('fitToWidth')">
			<mat-icon>fullscreen</mat-icon>
		</button>
		<button mat-icon-button class="md-fab md-raised md-mini" (click)="clickZoom('fitToPage')">
			<mat-icon>fit_screen</mat-icon>
		</button>
		<button mat-icon-button class="md-fab md-raised md-mini" alt="zoomIn" style="margin-top:20px;"
			(click)="clickZoom('zoomIn')">
			<mat-icon>add</mat-icon>
		</button>
		<button mat-icon-button class="md-fab md-raised md-mini" alt="zoomOut" (click)="clickZoom('zoomOut')">
			<mat-icon>remove</mat-icon>
		</button>
	</div>


</div>