.fabs-container {
  .floating-fabs-container {
    display: flex;
    flex-direction: column;

    button {
      margin: 5px;
      background-color: rgb(250, 250, 250);
      box-shadow: 1px 3px 3px gray;
    }
  }
}

@media screen and (max-width: 780px) {
  mat-icon {
    font-size: 20px;
  }

  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    border-radius: 50%;
  }
}

// 추가//
.canvas-container {
  // border: 1px solid black;
  text-align: center;
  position: relative;
  overflow: auto;
  overflow: scroll;
  /* IE scroll 숨김 */
  -ms-overflow-style: none;
  line-height: 0;
  margin: auto;
  width: 100vw;
  max-width: 100%;
  background-color: #eee;
  div.tmp {
    position: absolute;
    display: none;
  }

  div.canvasBackground {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
  }

  div.canvasTeacher {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div.coverRx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  div.cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
