.thumbnail-container {

    overflow-y: scroll;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 36px); // 36: button height

    .thumb-item {
        text-align: center;
        margin-top: 20px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border: 1px solid #ccc;
        line-height: 0;
        padding: 5px;

        p {
          width: 140px;
          font-size:12px;
          line-height: 16px;
          margin:5px;
        }


        &.select {
            border: 2px solid #555;
            box-shadow: 11px 11px 14px -9px rgb(36, 32, 32);
        }

        .thumbBg {
            z-index: 3;
            border: 1px solid rgb(83, 83, 83);
            object-fit: cover;
            object-position: top;
        }

        .thumbBg {
            //width: $thumbnail-width;
            //height:80px;
            background-color: #ffffff;
            // display: inline;
        }


    }
}

.thumbnail-container::-webkit-scrollbar {
    display: none;
}

.thumb-item .settingIcon {
    visibility: hidden;
}

.thumb-item:hover .settingIcon{
	visibility: visible;
    background-color: rgb(226, 226, 226);
    opacity :0.8;
}

.pdfBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteChatBtn{
    position: absolute;
    top: 0px;
    right: -10px;
    width: 3px;
    height: 3px;
}

/*  cursor: not-allowed와 pointer-events:none은 
    한 곳에서 사용 못하기 때문에  
    부모에게는 커서 모양, 자식에게는 클릭 기능 제한
*/
.wrap {
    cursor : not-allowed;
}

.participant {
    /* 클릭 불가능 none */
    pointer-events : none;
}



@media screen and (max-width: 780px) {

    #thumb {
        width: 45px !important;
        height: 45px !important;
    }

    .pdfBtn {
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .thumbBg {
        width: 45px !important;;
        height: 45px !important;;
    }

    .thumb-item {
        margin-top: 10px !important;
        position: static
    }

    .thumbnail-container {
        padding-bottom: 30px;
        overflow-x: hidden;
        .thumb-item {
            width: 60px;

            p {
                width: 40px;
                font-size: 9px;
                word-break: break-all;
            }
        }
    }

    .mat-raised-button {
        font-size: 10px;
        padding: 0;
      
        .mat-icon {
            font-size: 20px;
        }
    }

    
}
