// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "./app/setting.scss";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$m-brand: (
    50 : #0b0e0d,
    100 : #4d69b6,
    200 : #344d91,
    300 : #223d86,
    400 : #0c2464,
    500 : #00154f,
    600 : #001244,
    700 : #000e35,
    800 : #000922,
    900 : #00040e,
    A100 : #9db7ff,
    A200 : #6b92ff,
    A400 : #4476ff,
    A700 : #245eff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$m-white: (
    50 : #272521,
    100 : #ffe8b6,
    200 : #ffda8b,
    300 : #fdcd65,
    400 : #fdc346,
    500 : #ffbc2b,
    600 : #ffb412,
    700 : #d69811,
    800 : #70500b,
    900 : #201704,
    A100 : #eec469,
    A200 : #f3c154,
    A400 : #f8b932,
    A700 : #ffae00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$m-logo: (
    50 : #272521,
    100 : #ffe8b6,
    200 : #ffda8b,
    300 : #fdcd65,
    400 : #fdc346,
    500 : #ffbc2b,
    600 : #ffb412,
    700 : #d69811,
    800 : #70500b,
    900 : #201704,
    A100 : #eec469,
    A200 : #f3c154,
    A400 : #f8b932,
    A700 : #ffae00,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
); // Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$chat_front-primary: mat.define-palette($m-brand );

$chat_front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$chat_front-warn: mat.define-palette($m-logo);


$chat_front_white: mat.define-palette($m-white);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$chat_front-theme: mat.define-light-theme((color: (primary: $chat_front-primary,
                accent: $chat_front-accent,
                warn: $chat_front-warn,
                white:$chat_front_white),
            typography: mat.define-typography-config(),
            density: 0));

.mat-flat-button {
    border-radius: 5rem !important;
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($chat_front-theme);

html,
body {
    height: 100%;
    // background-color: rgba(0, 21, 79, 0.05);
    background-color: rgba(0, 0, 0, 255);
    // background-color: $main_color;
    // color: white;
    font-size: 11pt;
}

p {
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


input {
    outline: none;
    border: none;
    font-size: 11pt;
    padding: 0.5rem 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    transition: all 0.3s;

    &:hover {
        border: 1px solid $main_color;
    }

    &:focus {
        border: 1px solid $main_color;
    }
}

li,
ul {
    list-style: none;
    padding-left: 0;
}

.mat-mdc-unelevated-button {
    border-radius: 5rem !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: $icon_button_color;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 21, 79, 0.05);
    border-radius: 10px;
}