@import "../../setting.scss";

.documents_container {
    background-color: white;
    height: 100%;
    border-radius: 0.5rem;
    width: 120px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.2rem;
    box-sizing: border-box;


    .doc {
        border: 1px solid $main_color ;
        border-radius: 0.5rem;
        height: 80px;
    }
}